/* General */
.App {
  background-color: #f9f9f9;
  color: #212121;
  font-family: "Roboto",sans-serif;
}

h1, h2, h3 {
  font-weight: 900;
}
h1 {
  font-size: 36px;
  margin-bottom: 0;
}
h2 {
  font-size: 24px;
  margin-bottom: 24px;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 32px;
  max-width: 320px;
}
@media(min-width: 500px){
 
  .container {
    max-width: 656px;
  }
}
@media(min-width: 660px){

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media(min-width: 900px){

  .container {
    max-width: 976px;
  }
}
@media(min-width: 1000px){
  
  .container {
    max-width: 1296px;
  }
}
@media(min-width: 1366px){
  
  .container {
    max-width: 1616px;
  }
}



